*target*
*.jar
*.war
*.ear
*.class

# Linux OS
.directory

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Gradle
build/**
.gradle
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
/build/

# Project-specific
/resources/conversations/**
/resources/subscriptions.txt
/resources/channels.txt
